body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* LOGIN */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.login-box input,
.login-box select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

.login-box button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #6366f1;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* CHAT LAYOUT */
.chat-app {
    display: none;
    height: 100vh;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #1e293b;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 10px;
    background: #334155;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar li:hover,
.sidebar .active {
    background: #6366f1;
}

/* CHAT MAIN */
.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    background: #1e293b;
    display: flex;
    justify-content: space-between;
}

/* CHAT BOX */
.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

/* MESSAGES */
.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message.you {
    background: #6366f1;
    margin-left: auto;
}

.message.other {
    background: #334155;
    margin-right: auto;
}

/* INPUT */
.chat-input {
    display: flex;
    padding: 10px;
    background: #1e293b;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #6366f1;
    border: none;
    color: white;
    cursor: pointer;
}